:root {
  /* color */
  --color-black: #000000;
  --color-core: #0373F3;
  --color-skyblue: #8ACCE4;
  --color-background: #F5EFD7;
  --color-background-light: #FFFCF1;
  /* point color */
  --color-red: #CC0000;
  --color-green: #41CC00;
  --color-yellow: #FFC700;
  /* addtional color */
  --color-dark: #6d6d6d71;
  --color-darkgray: #767676;
  --color-gray: #b5b3ac;
  --color-red-light: #ff0000;
  --color-orange: #ff9100;
  --color-orange-pale: #ffcf91;

  /* Font size */
  --font-40: 40px;
  --font-32: 32px;
  --font-26: 26px;
  --font-24: 24px;
  --font-22: 22px;
  --font-20: 20px;
  --font-18: 18px;
  --font-17: 17px;
  --font-16: 16px;
  --font-15: 15px;
  --font-14: 14px;
  --font-12: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;
}

* {
  box-sizing: border-box;
}

.App {
  position: relative;
}

body {
  margin: 0px;
  background-color: var(--color-background);
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  cursor: pointer;
}

textarea {
  outline: none;
  border: none;
  cursor: pointer;
}