:root {
  /* color */
  --color-black: #000000;
  --color-core: #0373F3;
  --color-skyblue: #8ACCE4;
  --color-background: #F5EFD7;
  --color-background-light: #FFFCF1;
  /* point color */
  --color-red: #CC0000;
  --color-green: #41CC00;
  --color-yellow: #FFC700;

  /* Font size */
  --font-32: 32px;
  --font-26: 26px;
  --font-22: 22px;
  --font-20: 20px;
  --font-18: 18px;
  --font-17: 17px;
  --font-16: 16px;
  --font-15: 15px;
  --font-14: 14px;
  --font-12: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  cursor: pointer;
}

textarea {
  outline: none;
  border: none;
  cursor: pointer;
}